package index

import "github.com/kunkristoffer/wwjd/layouts"
import "github.com/kunkristoffer/wwjd/models"

templ IndexPage(userInput string, response models.ChatResponse) {
@layouts.Base("Hva ville jesus gjort") {
<main style="max-width: 600px; margin: auto; gap: 2rem; padding: 2rem;">
  <h1 style="text-align: center;">Hva ville jesus gjort?</h1>
  if (response.Message == "") {
    <form method="POST" action="/" style="padding: 2remn;">
      <span style="width: 100%; display: flex; gap: 1rem;">
        <input type="text" name="question" placeholder="Hva lurer du på i dag mitt barn..." required
          style="width: 100%; padding: 0.5rem; font-size: 1rem;" />
        <button type="submit" style="margin-top: 0.5rem; padding: 0.5rem 1rem;">
          🙏 Be
        </button>
      </span>
    </form>
  }
  if (userInput != "") {
    <section style="display: flex; flex-flow: column nowrap; gap: 1rem; padding: 2rem; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;">
      <h3>Spørsmål:</h3>
      <p>{ userInput }</p>
      <h3>Svar:</h3>
      <p style="margin-bottom: 2rem;">{ response.Message }</p>
      <a href="/" style="text-align: center; color: blue;">Lurer du på noe mer?</a>
    </section>
  }
  if response.AudioURL != "" {
    <audio controls autoplay>
      <source src={ response.AudioURL } type="audio/mpeg" />
      Din nettleser støtter ikke lydavspilling.
    </audio>
  }
</main>
}
}
