package navigations

templ NavbarComponent() {
  <nav style="display: flex; gap: 1rem; padding: 1rem; border-bottom: 1px solid #ddd;">
    <a href="/">🏠 Hjem</a>
    <a href="/vote">👍 Stem</a>
    <a href="/best">🔥 Top 10</a>
    <a href="/newest">⏳ Nyeste</a>
    <a href="/disclaimer">⚠️ disclaimer</a>
  </nav>
}
