package tired

import "github.com/kunkristoffer/wwjd/layouts"

templ TiredPage() {
	@layouts.Base("Sovetid") {
		<main style="max-width: 600px; margin: auto; gap: 2rem; padding: 2rem;">
			<h1>Jesus er trøtt og har lagt seg nedpå</h1>
			<p>Prøv igjen senere...</p>
		</main>
	}
}
