package vote

import "github.com/kunkristoffer/wwjd/layouts"

templ VotePage() {
	@layouts.Base("Best Questions This Week") {
		<main>
			<h1>Submit your vote!</h1>
			<p>Coming soon...</p>
		</main>
	}
}
