package disclaimer

import "github.com/kunkristoffer/wwjd/layouts"

templ DisclaimerPage() {
	@layouts.Base("Disclaimer") {
		<main style="max-width: 600px; margin: auto; gap: 2rem; padding: 2rem;">
			<h1>Disclaimer</h1>
			<p>Denne tjenesten er ikke teologisk autorisert....</p>
		</main>
	}
}
